@-moz-document url-prefix() {
    html,body{
        scrollbar-width: none; /* Firefox 64 */
    }
}


li {
    float: right;
}

.logo {
    float: left;
    height: 48px;
    width: 48px;
    margin-left: 1%;
    /* height: 100%;
    width: 100%; */
}

.body {
    height: 100%;
    width: 100%;
    margin: 0%;
    -ms-overflow-style: none; /* IE 11 */
    overflow: overlay;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* ::-webkit-scrollbar {
    display: none;
  } */


::-webkit-scrollbar {
    width: 50px;
    display:none;
}

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border: 20px solid transparent;
    background-clip: padding-box;
    border-radius: 50px;
    background-color: grey;

  }
  
  ::-webkit-scrollbar-thumb:hover {
    border: 20px solid transparent;
    background-clip: padding-box;
    border-radius: 50px;
    background-color: black;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    width: 100%;
    position: fixed; /* Set the navbar to fixed position */
    top:0;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 100%;
  }


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#home {
    height: 300px;
    background-color: blue;
    width: 100%;
}


#about {
    height: 300px;
    background-color: orange;
    width: 100%;
}


/* #projects {
    height: 300px;
    background-color: red;
    width: 100%;
} */

#impossibleList {
    height: 300px;
    background-color: yellow;
    width: 100%;
}

#contact {
    height: 300px;
    background-color: green;
    width: 100%;
}


.anchor {
    position: fixed;
    margin-left:97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.roundButton {
    border-radius: 50px;
    margin-top:200%;
    height:20px;
    width: 20px;
}

.flexDivs {
    background-color: #4CAF50;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.flexBoxes {
    width: 45%;
    height: 300px;
    border: solid 1px blue;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .flexBoxes {
        width: 90%;
    }

    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}